.module-wrapper {
  margin-bottom: 30px;
}
.fancybox-slide--iframe .fancybox-content {
  height: 800px !important;
  width: 1200px !important;
  max-width: 80%;
  max-height : 80%;
}
.fa-module-icon{
  font-size: 60px;
}