{% extends 'base.html.twig' %}

{% block subtitle %} | Create a new post{% endblock %}

{% block body %}
    <h1>Create new post</h1>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}