{% extends 'layouts/backend.html.twig' %}

{% block container %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{  alert("You are logged in already!", "info")|raw }}
        <a class="btn btn-primary" href="{{ path('logout') }}">Click here to logout</a>
    {% else %}
        <div class="container" style="height:100vh;">
            <div class="row h-100 justify-content-center align-items-center">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('user_login') }}" method="post" class="form-signin col-md-4 col-sm-6 col-xs-12">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="_username" class="form-control" placeholder="Username" required>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
                    <input type="hidden" name="_target_path" value="/backend" />
                    <br class="space" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}